<table class="table mt-4 align-middle text-center">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Comprar</th>
      </tr>
    </thead>
    <tbody class="">
      <tr *ngFor="let componentePc of componentesPc" [ngClass]="{'table-primary':componentePc.cuotasSinInteres}">
        <td><img width="80" [src]="componentePc.img" [alt]="componentePc.nombre"></td>
        <td>{{componentePc.nombre | uppercase}}</td>
        <td>{{componentePc.marca}}</td>
        <td>{{componentePc.precio | currency}}</td>
        <td>
          <span class="badge rounded-pill text-bg-info" *ngIf="componentePc.stock>=1">Disponible</span>
          <span class="badge rounded-pill text-bg-danger" *ngIf="componentePc.stock==0">No stock</span>
        </td>
        <td>
          <app-input-enteros [(cantidad)]="componentePc.cantidad" [maximo]="componentePc.stock" (seAlcanzoMax)="seAlcanzoMax($event)" *ngIf="componentePc.stock>=1"></app-input-enteros>
          
        </td>
        
       
      </tr>
    </tbody>
  </table>
