<table class="table mt-4 align-middle text-center">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
        <th scope="col">Comprar</th>
      </tr>
    </thead>
    <tbody class="">
      <tr *ngFor="let componentePc of componentesPc" [ngClass]="{'table-primary':componentePc.cuotasSinInteres}">
        <td><img width="80" [src]="componentePc.img" [alt]="componentePc.nombre"></td>
        <td>{{componentePc.nombre | uppercase}}</td>
        <td>{{componentePc.marca}}</td>
        <td>{{componentePc.precio | currency}}</td>
        
        <td>
          <button class="btn btn-success" (click)="agregarAlCarrito(componentePc)">Agregar</button>
        </td>
        
       
      </tr>
    </tbody>
  </table>
