<table class="table mt-4 align-middle">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img width="60" src="{{componentePc.img}}" alt="{{componentePc.nombre}}"></td>
        <td>{{componentePc.nombre}}</td>
        <td>{{componentePc.marca}}</td>
        <td>{{componentePc.precio}}</td>
        <td>{{componentePc.stock}}</td>
      </tr>
    </tbody>
  </table>
