<div class="text-center mt-4">
    <h1>Bienvenido a la sección about de <label>CompuTecno</label></h1>
    <h2 class="mt-5">Encontraste el mejor lugar para realizar tus <label>Compras en linea</label></h2>
    <section><img width="1000"src="/assets/img/imagen.jpg" alt=""></section>
    <section><img width="800"src="/assets/img/traslados.png" alt=""></section>
    <h2 class="mt-5"><label>Horarios de atención</label></h2>
    <p class="mt-4"><b>TEL. / WhatsApp / Mail</b></p>
    <p class="mt-4">Lun. a Vie. 8 a 17hs </p>
</div>